*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: orangered; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/ben-duchac-3fJOXw1RbPo-unsplash.png);
  height: 85vh;
  background-size: cover;
  background-position: top;
  border-radius: 0 0 10rem 10rem;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-direction: column; }
  .header__nav--icon {
    border-radius: 50%; }
  .header__title--h1 {
    font-size: 6rem; }
