*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #e56131; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/ben-duchac-3fJOXw1RbPo-unsplash.png);
  height: 85vh;
  background-size: cover;
  background-position: top;
  border-radius: 0 0 10rem 10rem;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-direction: column; }
  .header__nav {
    width: 80%;
    margin: 5rem 0;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(9, max-content) minmax(max-content, 1fr) max-content;
    align-items: center;
    grid-column-gap: 3rem; }
    .header__nav--icon {
      height: 4rem;
      width: 4rem; }
    .header__nav--text:hover::after, .header__nav--text:active::after {
      height: 1px;
      width: 2rem;
      color: orangered;
      z-index: 2; }
    .header__nav--text, .header__nav--btn-up, .header__nav--btn-in {
      text-decoration: none;
      color: #FFF; }
    .header__nav--btn-up, .header__nav--btn-in {
      transition: all .2s;
      padding: 1rem 2.5rem; }
      .header__nav--btn-up:hover, .header__nav--btn-up:active, .header__nav--btn-in:hover, .header__nav--btn-in:active {
        border: 1px solid #fff;
        border-radius: 10rem; }
    .header__nav--btn-up {
      justify-self: end; }
  .header__title {
    align-self: center; }
    .header__title--h1 {
      font-size: 6rem; }
    .header__title--btn {
      font-size: 1.3rem;
      transition: all .2s;
      padding: 1.5rem 5rem;
      background-color: #e56131;
      border-radius: 10rem;
      text-decoration: none;
      color: #FFF; }
