*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #e7d9d4; }

.header {
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url(../img/ben-duchac-3fJOXw1RbPo-unsplash.png);
  height: 90vh;
  background-size: cover;
  background-position: top;
  border-radius: 0 0 15rem 15rem;
  color: #FFF;
  display: grid;
  grid-template-rows: 10vw 1fr; }
  .header__nav {
    margin: 5rem 5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(9, max-content) minmax(max-content, 1fr) max-content;
    align-items: center;
    grid-column-gap: 3rem; }
    @media only screen and (max-width: 50em) {
      .header__nav {
        grid-template-columns: repeat(2, 1fr); } }
    .header__nav--icon {
      height: 4rem;
      width: 4rem;
      border-radius: 100rem; }
      @media only screen and (max-width: 50em) {
        .header__nav--icon {
          height: 6rem;
          width: 6rem; } }
    .header__nav--text {
      text-decoration: none;
      color: #b8b3b3;
      transition: all .2s; }
      .header__nav--text:hover, .header__nav--text:active {
        color: #FFF;
        font-size: 1.6rem; }
      .header__nav--text:active {
        transform: translateY(0.3rem); }
    @media only screen and (max-width: 50em) {
      .header__nav--text, .header__nav--btn-up, .header__nav--btn-in {
        display: none; } }
    .header__nav--btn-up, .header__nav--btn-in {
      text-decoration: none;
      color: #FFF;
      padding: 1rem 2.5rem;
      font-weight: 400; }
      .header__nav--btn-up:hover, .header__nav--btn-up:active, .header__nav--btn-in:hover, .header__nav--btn-in:active {
        transition: all .2s; }
      .header__nav--btn-up:hover, .header__nav--btn-in:hover {
        transform: translateY(-0.5rem); }
      .header__nav--btn-up:active, .header__nav--btn-in:active {
        transform: translateY(0.5rem); }
    .header__nav--btn-up {
      justify-self: end; }
    .header__nav--btn-in {
      border: 1px solid #fff;
      border-radius: 10rem; }
    .header__nav--back {
      height: 6rem;
      width: 6rem;
      background-color: #fff;
      border-radius: 2rem;
      border: none;
      z-index: -4;
      align-self: center;
      justify-self: end;
      cursor: pointer; }
      @media only screen and (max-width: 50em) {
        .header__nav--back {
          z-index: 5;
          grid-column: 2 / 3;
          grid-row: 1 / 2; } }
    .header__nav--pad {
      margin-right: 1.5rem;
      z-index: -5;
      align-self: center;
      justify-self: end; }
      .header__nav--pad, .header__nav--pad::before, .header__nav--pad::after {
        background-color: #d85f33;
        height: 2px;
        width: 3rem;
        content: "";
        display: block; }
      .header__nav--pad::before {
        transform: translateY(-1.2rem); }
      .header__nav--pad::after {
        transform: translateY(1rem); }
      @media only screen and (max-width: 50em) {
        .header__nav--pad {
          z-index: 5;
          grid-column: 2 / 3;
          grid-row: 1 / 2; } }
  .header__title {
    align-self: center;
    justify-self: center;
    max-width: 45rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
    align-items: center;
    grid-row-gap: 4rem; }
    @media only screen and (max-width: 65.625em) {
      .header__title {
        grid-row: 2 / 3; } }
    .header__title--h1 {
      font-size: 7.5rem; }
    .header__title--h4 {
      font-size: 1.6rem;
      font-weight: 300; }
    .header__title--btn {
      font-size: 1.5rem;
      padding: 1.5rem 6rem;
      background-color: #dc693f;
      border-radius: 10rem;
      text-decoration: none;
      color: #FFF; }
      .header__title--btn:hover, .header__title--btn:active {
        transition: all .2s; }
      .header__title--btn:hover {
        transform: translateY(-0.5rem); }
      .header__title--btn:active {
        transform: translateY(0.5rem); }

.tiles {
  transform: translateY(-8rem);
  margin: 0rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem; }
  .tiles--1, .tiles--2, .tiles--3, .tiles--4 {
    height: 25rem;
    width: 30rem;
    background-color: #faf5ef;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem; }
    .tiles--1 img, .tiles--2 img, .tiles--3 img, .tiles--4 img {
      height: 40%;
      width: 30%; }
    .tiles--1 h3, .tiles--2 h3, .tiles--3 h3, .tiles--4 h3 {
      font-size: 1.8rem; }
    .tiles--1 p, .tiles--2 p, .tiles--3 p, .tiles--4 p {
      font-size: 1.5rem;
      margin: 0 2rem; }

.activity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem 4rem;
  gap: 5rem 4rem; }
  .activity__icon {
    display: grid; }
    .activity__icon--front, .activity__icon--back {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .activity__icon--front {
      height: 9rem;
      width: 9rem; }
    .activity__icon--back {
      width: 6.5rem;
      height: 6.5rem;
      background-color: #d85f33;
      border-radius: 50%;
      z-index: -2;
      align-self: center;
      justify-self: center; }
  .activity h2 {
    font-size: 5rem; }
  .activity__tiles {
    margin: 0rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem; }
    .activity__tiles__tile {
      height: 40rem;
      width: 30rem;
      background-color: #faf5ef;
      border-radius: 2rem;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center; }
      .activity__tiles__tile--landscape {
        width: 90%;
        border-radius: 2rem;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1; }
      .activity__tiles__tile--heart {
        height: 3rem;
        width: 3rem;
        fill: #dc693f;
        background-color: #fff;
        border-radius: 1rem;
        padding: .5rem;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        align-self: start;
        margin: 3rem;
        z-index: 2; }
      .activity__tiles__tile--price {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
        z-index: 3;
        width: 50%;
        color: #dc693f;
        font-size: 1.5rem;
        letter-spacing: .1rem;
        font-weight: 500;
        text-align: center;
        padding: 1.25rem;
        transform: translateY(20%);
        background-color: #faf5ef;
        border-radius: 1.5rem; }
      .activity__tiles__tile--price,
      .activity__tiles__tile h3,
      .activity__tiles__tile p, .activity__tiles__tile--btn {
        grid-column: 1 / 3; }
      .activity__tiles__tile h3 {
        font-size: 1.8rem;
        align-self: end; }
      .activity__tiles__tile p {
        font-size: 1.5rem; }
      .activity__tiles__tile--btn {
        font-size: 1.8rem;
        text-decoration: none;
        color: #777;
        background-color: #e5e1e1;
        border: none;
        border-radius: 5rem;
        padding: 1.3rem 3rem;
        cursor: pointer; }
        .activity__tiles__tile--btn:hover, .activity__tiles__tile--btn:active {
          transition: all .2s; }
        .activity__tiles__tile--btn:hover {
          transform: translateY(-0.5rem); }
        .activity__tiles__tile--btn:active {
          transform: translateY(0.5rem); }
  .activity__btn {
    font-size: 1.5rem;
    padding: 1.5rem 8rem;
    border: 1px solid #dc693f;
    background-color: transparent;
    border-radius: 10rem;
    text-decoration: none;
    color: #dc693f;
    cursor: pointer; }
    .activity__btn:hover, .activity__btn:active {
      transition: all .2s; }
    .activity__btn:hover {
      transform: translateY(-0.5rem); }
    .activity__btn:active {
      transform: translateY(0.5rem); }

.contact {
  width: 80%;
  margin: 0 auto;
  background-color: #edd1c5;
  border-radius: 2rem;
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media only screen and (max-width: 65.625em) {
    .contact {
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      justify-items: center;
      text-align: center;
      padding: 8rem 3rem; } }
  .contact h2 {
    font-size: 4rem;
    align-self: end; }
  .contact p {
    font-size: 1.8rem;
    font-weight: 400; }
  .contact__email {
    width: 90%;
    background-color: #faf5ef;
    border-radius: 2rem;
    padding: 1rem;
    align-self: start;
    display: flex;
    align-items: center; }
    .contact__email--icon {
      height: 4rem;
      width: 4rem;
      fill: #777;
      margin: 0 1rem; }
    .contact__email input {
      width: 100%;
      background-color: #faf5ef;
      border: none;
      height: 3rem;
      font-size: 1.5rem;
      color: #333; }
    .contact__email img {
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      order: 5; }
      .contact__email img:hover, .contact__email img:active {
        transition: all .2s; }
      .contact__email img:hover {
        transform: translateY(-0.3rem); }
      .contact__email img:active {
        transform: translateY(0.3rem); }
  .contact__tent {
    align-self: center;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / -1; }
    @media only screen and (max-width: 65.625em) {
      .contact__tent {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        width: 80%; } }

.footer {
  background-color: #e2c7c9;
  border-radius: 15rem 15rem 0 0;
  padding: 7rem 10rem 5rem 10rem;
  margin-top: 15rem;
  line-height: 2rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 40.625em) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      padding: 5rem 5rem 3rem 5rem;
      border-radius: 10rem 10rem 0 0; } }
  .footer * > li {
    list-style: none;
    font-size: 1.3rem; }
  .footer * > h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .footer * > p {
    font-size: 1.3rem; }
  .footer__hip {
    margin-right: 10rem; }
    @media only screen and (max-width: 65.625em) {
      .footer__hip {
        margin-right: 5rem; } }
    @media only screen and (max-width: 40.625em) {
      .footer__hip {
        grid-column: 1 / 3; } }
  .footer__app {
    grid-column: 1 / -1; }
    .footer__app img {
      height: 3rem; }
  .footer__rights {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.3rem; }
