.header {
    // margin: 4rem 10rem;
    background-image: url(../img/ben-duchac-3fJOXw1RbPo-unsplash.png);
    backdrop-filter: blur(4rem);

    height: 85vh;
    background-size: cover;
    background-position: top;
    border-radius: 0 0 10rem 10rem;
    color: #FFF;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: column;
    

    // &__backimg {
    //     width: 100%;
    //     z-index: -1;
    // }

    &__nav {
        // width: 80%;
        margin: 5rem 5rem;
        font-size: 1.5rem;
        

        display: grid;
        grid-template-columns: repeat(9, max-content) minmax(max-content, 1fr) max-content;
        align-items: center;

        grid-column-gap: 3rem;

        &--icon {
            height: 4rem;
            width: 4rem;

        }

        &--text {
            text-decoration: none;
            color: #b8b3b3;
            transition: all .2s;

            &:hover,
            &:active {
                color: #FFF;
                font-size: 1.6rem;
            }

            // &:hover,
            // &:active {
            //     &::after {
            //         height: 1px;
            //         width: 2rem;
            //         color: orangered;

            //         z-index: 2;
            //     }
            // }
            
        }


        &--btn-up,
        &--btn-in {
            text-decoration: none;
            color: #FFF;
            
        }

        &--btn-up,
        &--btn-in {
            padding: 1rem 2.5rem;
            font-weight: 400;

            
            
            transition: all .2s;
            
            &:hover,
            &:active {
                
            }
            
            &:hover {
                transform: translateY(-.5rem);
            }

            &:active {
                transform: translateY(.5rem);
            }
            
        }

        &--btn-up {
            justify-self: end;
        }

        &--btn-in {
            border: 1px solid #fff;
            border-radius: 10rem;
        }
    }

    &__title {
        align-self: center;

        display: grid;
        grid-template-rows: repeat(3, max-content);
        justify-items: center;
        align-items: center;
        grid-row-gap: 4rem;
        

        &--h1 {
            font-size: 8rem;
            align-self: center;
        }

        &--h3 {
            align-self: center;
        }

        &--btn {
            font-size: 1.3rem;
            transition: all .2s;
            padding: 1.5rem 5rem;
            background-color: rgb(229, 97, 49);
            border-radius: 10rem;
            text-decoration: none;
            color: #FFF;
        }
    }

    &__tiles {
        transform: translateY(5rem);
        
        color: #000;

        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-auto-flow: column;

        &--1,
        &--2,
        &--3,
        &--4, {
            background-color: #faf5ef;
            border-radius: 1.5rem;
            margin: 0 1rem;
            align-self: center;
            justify-self: center;


            img {

            }
            
            h2 {

            }

            p {

            }
        }


        


    }
}