.header {
    // margin: 4rem 10rem;
    background-image: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .2)), url(../img/ben-duchac-3fJOXw1RbPo-unsplash.png);
    height: 85vh;
    background-size: cover;
    background-position: top;
    border-radius: 0 0 10rem 10rem;
    color: #FFF;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    

    // &__backimg {
    //     width: 100%;
    //     z-index: -1;
    // }

    &__nav {
        width: 80%;
        margin: 5rem 0;
        font-size: 1.5rem;
        

        display: grid;
        grid-template-columns: repeat(9, max-content) minmax(max-content, 1fr)  max-content;
        align-items: center;
        grid-column-gap: 3rem;

        &--icon {
            height: 4rem;
            width: 4rem;

        }

        &--text {
            
            &:hover,
            &:active {
                &::after {
                    height: 1px;
                    width: 2rem;
                    color: orangered;

                    z-index: 2;
                }
            }
        }

        &--text,
        &--btn-up,
        &--btn-in {
            text-decoration: none;
            color: #FFF;
            
        }

        &--btn-up,
        &--btn-in {
            transition: all .2s;
            padding: 1rem 2.5rem;
            

            &:hover,
            &:active {
                border: 1px solid #fff;
                border-radius: 10rem;
            }
            
        }

        &--btn-up {
            justify-self: end;
        }

        &--btn-in {

        }
    }

    &__title {
        align-self: center;

        &--h1 {
            font-size: 6rem;
        }

        &--h3 {

        }

        &--btn {
            font-size: 1.3rem;
            transition: all .2s;
            padding: 1.5rem 5rem;
            background-color: rgb(229, 97, 49);
            border-radius: 10rem;
            text-decoration: none;
            color: #FFF;
        }
    }

    &__tiles {
        
    }
}